<table>
  <tr>
    <th>round</th>
    <th>date</th> 
    <th>home team</th>
    <th>away team</th>
    <th>home goals</th>
    <th>away goals</th>
  </tr>
  {% for game in games %} 
      <tr>
        <td>{{ game.round }}</td>
        <td>{{ game.date }}</td>
        <td>{{ game.home_team }}</td>
        <td>{{ game.away_team }}</td>
        <td>{{ game.home_goals }}</td>
        <td>{{ game.away_goals }}</td>
        <td><a href = "/votes/{{ game.id }}">vote</a></td>
        <td><a href = "/votes/{{ game.id }}/predictions">predictions</a></td>
      </tr>
  {% endfor %}
</table>