/*navigation bar*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.main_navigation_bar {
    background-color: #A9A9A9;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

/*table*/

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    text-align: center;
}
